@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');




main {
  width: 350px;
  margin: 0 auto;
}

article {
  width: 300px;
  /*float: left;*/
  margin: 25px;
  box-sizing: border-box;
  position: relative;
}

article section {
  border: 2px solid #89cff0;
  padding: 20px;
  border-bottom: none;
}

article img {
  width: 100%;
}

@media screen and (min-width: 700px) {
  article {
    float: left;
  }

  main {
    width: 700px;
  }
}

@media screen and (min-width: 1050px) {
    main {
    width: 1050px;
  }
}

.backofshirt {
    width: 260px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: -1;
}

article ul {
  padding: 0;
  margin: 0;
}

article li {
  list-style: none;
  display: block;
  float: left;
  width: 20%;
  border: 2px solid #89cff0;
  border-left: none;
  box-sizing: border-box;
  position: relative;
  height: 50px;
  padding: 13px;
}

article li:first-child {
  border: 2px solid #89cff0;
}

article li:hover {
    background-color: #89cff0;
    color: #ffffff;
}

article li:hover .popup {
    opacity: 1;
    bottom: 60px;
}

a.fa {
  font-size: 1.2em;
  color: #89cff0;
}

a.fa:hover {
  color: #ffffff;
}

.popup {
    border:2px solid #89cff0;
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.3s linear;
    width: 100%;
}

.popup::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid #89cff0;
    transform: rotate(45deg);
    position: absolute;
    bottom: -10px;
    left: 20px;
    border-left: none;
    border-top: none;
}

.popup li {
  border: none;
}




/*@media screen and (min-width: 800px) {
  article {
    width: 33%;
  }
}*/







/*body {
  margin: 0;
}

main {
  margin: 100px 100px;
  text-align: center;
}


img  {
  border: 3px solid #89cff0;
  display: inline;
  border-width: medium;
  width: 25%;
  margin: 0 20px;
  clear: both;
}


li {
  list-style: none;
  display: inline;
  padding: 15px;
}

nav.icons {
  margin: 0;
}

.icons ul {
  border: 3px solid #89cff0;
  border-top: none;
  width: 25%;
  margin: 10px;
  padding: 15px 0;

}

a.fa {
  font-size: 1.2em;
  color: #89cff0;
  list-style: none;
}

a.fa:hover {
  color: #ffffff;
}

li:hover {
  background-color: #89cff0;
  color: #ffffff;
}


.iconpopup + .popup {
  overflow: hidden;
  width: 30%;
  height: 25%;
  border: 1px solid #89cff0;
}



.icons1 {
  position: relative;
  left: 72px;
  bottom: 20px;
}

.icons2 {
  position: relative;
  left: 392px;
  bottom: 80px;
}

.icons2 .fa-stop {
  color: #e75480;
}

.icons3 {
  position: relative;
  left: 712px;
  bottom: 140px;
}

.icons3 .fa-stop {
  color: #EBCA97;
}


.text-align {
  border: none;
  width: 25%;
}

.text-align p {
  color: #89cff0;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.1em;
  display: inline;
}

p + p {
  font-weight: bold;
}

.text1 {
  position: absolute;
  top: 450px;
  right: 940px;
}

.text2 {
  position: absolute;
  top: 450px;
  right: 630px;
}

.text3 {
  position: absolute;
  top: 450px;
  right: 310px;
}
*/
