@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

body {
  margin: 0;
}

main {
  margin: 100px 100px;
  text-align: center;
}

img  {
  border: 3px solid #89cff0;
  border-width: medium;
  width: 25%;
  margin: 0 20px;
  clear: both;
}

/*ul  {
  margin: 10px;
  border: 3px solid #89cff0;
  border-top: none;
  padding: 15px 0;
  width: 25%;
  position: relative;
  left: 72px;
  bottom: 20px;
}*/

li {
  list-style: none;
  display: inline;
  padding: 15px;
}

nav.icons {
  margin: 0;
}

.icons ul {
  border: 3px solid #89cff0;
  border-top: none;
  width: 25%;
  margin: 10px;
  padding: 15px 0;

}

a.fa {
  font-size: 1.2em;
  color: #89cff0;
  list-style: none;
}

a.fa:hover {
  color: #ffffff;
}

li:hover {
  background-color: #89cff0;
  color: #ffffff;
}

/*popup when hovering*/
nav.fa-stop:hover {
  border: 1px solid #89cff0;
  width: 25%;
  height: 25%;
  content: "";
  z-index:
}


nav ul.popup {
  overflow: hidden;
  display: block;
  border: solid;
  border-width: 2px;
}


/*Positioning icons under each tshirt*/
.icons1 {
  position: relative;
  left: 72px;
  bottom: 20px;
}

.icons2 {
  position: relative;
  left: 392px;
  bottom: 80px;
}

.icons2 .fa-stop {
  color: #e75480;
}

.icons3 {
  position: relative;
  left: 712px;
  bottom: 140px;
}

.icons3 .fa-stop {
  color: #EBCA97;
}

/*Text underneath the icons*/
.text-align {
  border: none;
  width: 25%;
}

.text-align p {
  color: #89cff0;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.1em;
  display: inline;
}

p + p {
  font-weight: bold;
}

.text1 {
  position: absolute;
  top: 450px;
  right: 940px;
}

.text2 {
  position: absolute;
  top: 450px;
  right: 630px;
}

.text3 {
  position: absolute;
  top: 450px;
  right: 310px;
}
